@model SiteMapPathHelperModel
@using System.Linq

<ul class="breadcrumb">
    @foreach (var node in Model.Skip(1))
    {
        <li class="@(node != Model.Last() ? "active" : null)">
            @node.Title
        </li>
    }
</ul>