@model SiteMapTitleHelperModel

@if (Model.CurrentNode != null)
{
    <div class="header-title">
        <h1>
            @if (!string.IsNullOrEmpty(Model.CurrentNode.Description))
            {
                <small>
                    @Model.CurrentNode.Description
                </small>
            }
            else
            {
                <small>
                    @Model.CurrentNode.Title
                </small>
            }
        </h1>
    </div>
}
