.navbar .navbar-brand {
    border: 0;
    margin: 0;
    padding: 2px 0;
    line-height: 38px;
    font-size: 18px;
}

    .navbar .navbar-brand small {
        font-weight: bold;
        margin-left: 3px;
    }

.page-breadcrumb-bordered {
    float: left;
    width: 4px;
    height: 40px;
}

.navbar .sidebar-collapse {
    float: left;
    top: auto;
    left: auto;
    position: relative;
    margin-left: 10px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-notifications li .notification-body {
    line-height: 32px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .login-area,
.navbar .navbar-inner .navbar-header .navbar-account .account-area > li.open > .login-area {
    -moz-min-width: 186px;
    -ms-min-width: 186px;
    -o-min-width: 186px;
    -webkit-min-width: 186px;
    min-width: 186px;
}

.page-sidebar.menu-compact {
    width: 47px;
}

    .page-sidebar.menu-compact ~ .page-content {
        margin-left: 47px;
    }

.page-sidebar .sidebar-collapse.sidebar-toggler {
    text-align: center;
    padding: 5px 0;
    position: relative;
    margin-left: 5px;
    z-index: 1;
}

.page-sidebar .sidebar-collapse.sidebar-toggler:before {
    content: "";
    display: block;
    height: 0;
    border-top: 1px solid;
    border-color: #dddddd;
    position: absolute;
    left: 15px;
    right: 15px;
    top: 15px;
}

.page-sidebar .sidebar-collapse.sidebar-toggler .collapse-icon {
    padding: 0 5px;
    line-height: 18px;
    cursor: pointer;
    font-size: 14px;
    -ms-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #bbbbbb;
    position: relative;
    background-color: #ffffff;
    color: #bbbbbb;
}

.page-sidebar:hover .sidebar-collapse .collapse-icon {
    color: #bbbbbb!important;
}

.page-sidebar .sidebar-collapse .collapse-icon:hover {
    color: #ffffff!important;
}

.table .text-overflow {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.dataTables_paginate {
    padding-top: 8px;
}

.tooltip.in {
    z-index: 99999;
}