.navbar .navbar-brand {
    border: 0;
    margin: 0;
    padding: 2px 0;
    line-height: 38px;
    font-size: 18px;
}

    .navbar .navbar-brand small {
        font-weight: bold;
        margin-left: 3px;
    }

.page-breadcrumb-bordered {
    float: left;
    width: 4px;
    height: 40px;
}

.navbar .sidebar-collapse {
    float: left;
    top: auto;
    left: auto;
    position: relative;
    margin-left: 10px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-notifications li .notification-body {
    line-height: 32px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area > li .login-area,
.navbar .navbar-inner .navbar-header .navbar-account .account-area > li.open > .login-area {
    -moz-min-width: 186px;
    -ms-min-width: 186px;
    -o-min-width: 186px;
    -webkit-min-width: 186px;
    min-width: 186px;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area {
    right: 10px;
}

    .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.edit {
        min-height: 37px;
    }

        .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.edit a:hover {
            color: #717171;
        }

    .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.dropdown-footer a {
        color: #999999;
        font-weight: normal;
    }

        .navbar .navbar-inner .navbar-header .navbar-account .account-area > li .dropdown-menu.dropdown-login-area > li.dropdown-footer a:hover {
            color: #717171;
        }

.login-alert {
    padding: 30px 0 10px;
}

@media only screen and (max-width: 760px) {
    .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area {
        -moz-min-width: inherit !important;
        -ms-min-width: inherit !important;
        -o-min-width: inherit !important;
        -webkit-min-width: inherit !important;
        min-width: inherit !important;
    }
}

@media only screen and (max-width: 760px) {
    .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area + .dropdown-menu {
        -moz-min-width: 186px;
        -ms-min-width: 186px;
        -o-min-width: 186px;
        -webkit-min-width: 186px;
        min-width: 186px;
    }
}

@media only screen and (max-width: 760px) {
    .navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area + .dropdown-menu:before {
        width: 46px;
    }
}

.page-sidebar.menu-compact {
    width: 47px;
}

    .page-sidebar.menu-compact ~ .page-content {
        margin-left: 47px;
    }

.page-sidebar .sidebar-collapse.sidebar-toggler {
    text-align: center;
    padding: 5px 0;
    position: relative;
    margin-left: 5px;
    z-index: 1;
}

    .page-sidebar .sidebar-collapse.sidebar-toggler:before {
        content: "";
        display: block;
        height: 0;
        border-top: 1px solid;
        border-color: #dddddd;
        position: absolute;
        left: 15px;
        right: 15px;
        top: 15px;
    }

    .page-sidebar .sidebar-collapse.sidebar-toggler .collapse-icon {
        padding: 0 5px;
        line-height: 18px;
        cursor: pointer;
        font-size: 14px;
        -ms-border-radius: 100%;
        border-radius: 100%;
        border: 1px solid #bbbbbb;
        position: relative;
        background-color: #ffffff;
        color: #bbbbbb;
    }

.page-sidebar:hover .sidebar-collapse .collapse-icon {
    color: #bbbbbb !important;
}

.table .text-overflow {
    max-width: 0;
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.dataTables_paginate {
    padding-top: 8px;
}

.tooltip.in {
    z-index: 99999;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #f3f3f3;
}

.input-validation-error {
    border-color: #e7bebe;
    color: #e46f61;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #fffafa;
}

textarea.input-validation-error:hover,
input[type="text"].input-validation-error:hover,
input[type="password"].input-validation-error:hover,
input[type="datetime"].input-validation-error:hover,
input[type="datetime-local"].input-validation-error:hover,
input[type="date"].input-validation-error:hover,
input[type="month"].input-validation-error:hover,
input[type="time"].input-validation-error:hover,
input[type="week"].input-validation-error:hover,
input[type="number"].input-validation-error:hover,
input[type="email"].input-validation-error:hover,
input[type="url"].input-validation-error:hover,
input[type="search"].input-validation-error:hover,
input[type="tel"].input-validation-error:hover,
input[type="color"].input-validation-error:hover {
    border-color: #e7bebe;
    color: #e46f61;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #fffafa;
}

textarea.input-validation-error:focus,
input[type="text"].input-validation-error:focus,
input[type="password"].input-validation-error:focus,
input[type="datetime"].input-validation-error:focus,
input[type="datetime-local"].input-validation-error:focus,
input[type="date"].input-validation-error:focus,
input[type="month"].input-validation-error:focus,
input[type="time"].input-validation-error:focus,
input[type="week"].input-validation-error:focus,
input[type="number"].input-validation-error:focus,
input[type="email"].input-validation-error:focus,
input[type="url"].input-validation-error:focus,
input[type="search"].input-validation-error:focus,
input[type="tel"].input-validation-error:focus,
input[type="color"].input-validation-error:focus {
    border-color: #e7bebe;
    color: #262626;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    outline: 0;
}

textarea.disabled,
input[type="text"].disabled,
input[type="password"].disabled,
input[type="datetime"].disabled,
input[type="datetime-local"].disabled,
input[type="date"].disabled,
input[type="month"].disabled,
input[type="time"].disabled,
input[type="week"].disabled,
input[type="number"].disabled,
input[type="email"].disabled,
input[type="url"].disabled,
input[type="search"].disabled,
input[type="tel"].disabled,
input[type="color"].disabled {
    color: rgba(0, 0, 0, 0.4);
}

.conta-cabecalho, .conta-corpo {
    padding: 0 15px;
}

.conta-corpo {
    margin-top: 10px;
}

.conta-cabecalho .conta-foto {
    width: 125px;
    height: 125px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #f5f5f5;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    margin: 25px auto;
}

.conta-cabecalho .cabecalho-nome {
    font: 21px 'Roboto','Lucida Sans','trebuchet MS',Arial,Helvetica;
    margin-top: 27px;
    display: inline-block;
}

.conta-cabecalho .cabecalho-info {
    line-height: 23px;
    margin-top: 15px;
    text-align: justify;
}

#tree ul, #tree li {
    list-style: none;
}

.jstree .radio, .jstree .checkbox {
    display: inline-block;
    margin: 0;
}

.jstree input[type=checkbox] ~ .text:before, .jstree input[type=radio] ~ .text:before {
    vertical-align: text-bottom;
}

.jstree-default .jstree-clicked {
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.jstree-default .jstree-hovered {
    background: transparent !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
}

.jstree i {
    display: inline-block;
    text-decoration: none;
    width: 18px;
    height: 18px;
    margin: 0 0 0 0;
    padding: 0;
}

input[type=checkbox] ~ .text, input[type=radio] ~ .text {
    color: #262626;
}

input[type=checkbox]:disabled ~ .text,
input[type=radio]:disabled ~ .text,
input[type=checkbox][disabled] ~ .text,
input[type=radio][disabled] ~ .text,
input[type=checkbox].disabled ~ .text,
input[type=radio].disabled ~ .text {
    color: #858585;
}

    input[type=checkbox]:disabled ~ .text:before,
    input[type=radio]:disabled ~ .text:before,
    input[type=checkbox][disabled] ~ .text:before,
    input[type=radio][disabled] ~ .text:before,
    input[type=checkbox].disabled ~ .text:before,
    input[type=radio].disabled ~ .text:before input[type=checkbox]:disabled ~ .text:before,
    input[type=radio]:disabled ~ .text:before,
    input[type=checkbox][disabled] ~ .text:before,
    input[type=radio][disabled] ~ .text:before,
    input[type=checkbox].disabled ~ .text:before,
    input[type=radio].disabled ~ .text:before {
        color: rgba(0,0,0,0.4);
    }

.alert {
    margin-bottom: 5px;
}

.databox .databox-text {
    text-transform: uppercase;
}

.orders-container .orders-list .order-item .item-left .item-booker {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard-box .box-body {
    padding: 10px 20px;
}

.tickets-container .tickets-list .ticket-item a .ticket-user .user-name {
    color: #444444;
}

.widget .widget-body .tickets-container {
    position: relative;
    padding: 25px 25px 11px;
    background-color: #f5f5f5;
}

.widget .widget-footer {
    position: relative;
    background-color: #fff;
    height: 34px;
    padding: 7px;
    text-align: center;
    background-color: #fbfbfb;
}

    .widget .widget-footer a {
        margin: 0 auto;
        font-size: 11px;
        color: #999;
        font-weight: 500;
    }

        .widget .widget-footer a:hover {
            text-decoration: none;
        }

.weather {
    text-transform: lowercase;
}
